* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
section{
display: flex;
gap: 16px;
}
.cabecalho {
    color: white;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: purple;
}

.cartao {
    width: 260px;
    height: 200px;
    perspective: 1000px;
}

.cartao-imagem {
    width: 100%; 
}

.cartao:hover .cartao-interno 
    transform rotateY(180deg);

.cartao-interno {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.cartao-frente, .cartao-verso {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility:
    border-radiu 12px;
}

.cartao-verso {
    transform: rotateY(180deg); 
}